/*! CSS Used from: file:///media/gimi/Workspace/laravelWorkSpace/Limitless%20v1.4%20-%20Responsive%20Web%20Application%20Kit/Limitless%20v1.4%20-%20Responsive%20Web%20Application%20Kit/layout_1/LTR/default/assets/css/bootstrap.css */
a {
    background-color: transparent;
}

a:active, a:hover {
    outline: 0;
}

input {
    color: inherit;
    font: inherit;
    margin: 0;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

@media print {
    *, *:before, *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a, a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    a[href^="#"]:after {
        content: "";
    }
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a {
    color: #1E88E5;
    text-decoration: none;
}

a:hover, a:focus {
    color: #166dba;
    text-decoration: none;
}

a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

ul {
    margin-top: 0;
    margin-bottom: 10px;
}

input[type="file"] {
    display: block;
}

input[type="file"]:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

/*! CSS Used from: file:///media/gimi/Workspace/laravelWorkSpace/Limitless%20v1.4%20-%20Responsive%20Web%20Application%20Kit/Limitless%20v1.4%20-%20Responsive%20Web%20Application%20Kit/layout_1/LTR/default/assets/css/core.css */
a {
    cursor: pointer;
}

a:focus {
    outline: 0;
}

a, input {
    outline: 0;
}

ul {
    padding-left: 25px;
}

input[type="file"]:focus {
    outline: 0;
}

/*! CSS Used from: file:///media/gimi/Workspace/laravelWorkSpace/Limitless%20v1.4%20-%20Responsive%20Web%20Application%20Kit/Limitless%20v1.4%20-%20Responsive%20Web%20Application%20Kit/layout_1/LTR/default/assets/css/components.css */
.plupload_file_action > a, .plupload_button, .plupload_filelist li {
    -webkit-transition: all ease-in-out 0.15s;
    -o-transition: all ease-in-out 0.15s;
    transition: all ease-in-out 0.15s;
}

.plupload_wrapper {
    width: 100%;
    border: 2px dashed #ddd;
    border-radius: 3px;
}

.plupload_header:after, .plupload_filelist:empty:before, .plupload_file_action:after, .plupload_delete a:after {
    font-family: 'icomoon';
    display: inline-block;
    font-size: 16px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.plupload_header {
    display: none;
    position: relative;
    background-color: #0097A7;
    margin: -1px -1px 0 -1px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.plupload_header:after {
    content: '\ec78';
    color: #fff;
    font-size: 32px;
    position: absolute;
    top: 50%;
    left: 20px;
    margin-top: -16px;
}

.plupload_header_content {
    padding: 15px 20px;
    padding-left: 72px;
    color: #fff;
}

.plupload_header_title {
    font-size: 15px;
    font-weight: 500;
}

.plupload_header_text {
    font-size: 11px;
    line-height: 1.82;
}

.plupload_clearer {
    clear: both;
}

.plupload_clearer, .plupload_progress_bar {
    display: block;
    font-size: 0;
    line-height: 0;
}

.plupload_button {
    display: inline-block;
    color: #fff;
    background-color: #2196F3;
    border: 1px solid transparent;
    padding: 6px 11px;
    border-radius: 2px;
    margin-right: 5px;
}

.plupload_button:hover, .plupload_button:focus {
    color: #fff;
    -webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.05) inset;
    box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.05) inset;
}

.plupload_button:active {
    -webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.1) inset;
}

.plupload_start {
    background-color: #26A69A;
}

.plupload_filelist {
    margin: 0;
    padding: 0;
    list-style: none;
}

.plupload_scroll .plupload_filelist {
    height: 250px;
    background: #fff;
    overflow-y: auto;
}

@media (max-width: 768px) {
    .plupload_scroll .plupload_filelist {
        height: 200px;
    }
}

.plupload_filelist li {
    padding: 12px 20px;
    background-color: #fff;
}

.plupload_filelist li:hover {
    background-color: #f5f5f5;
}

.plupload_filelist:empty {
    position: relative;
    height: 250px;
    text-align: center;
    background-color: transparent;
    text-indent: -99999px;
}

.plupload_filelist:empty:before {
    content: '\ea0e';
    font-size: 80px;
    padding-top: 65px;
    position: absolute;
    top: 0;
    width: 80px;
    height: 80px;
    left: 50%;
    margin-left: -40px;
    z-index: 2;
    color: #ddd;
    text-indent: 0;
    font-weight: normal;
}

.plupload_filelist:empty:after {
    content: 'Drag files to upload';
    font-size: 19px;
    position: absolute;
    top: 50%;
    padding-top: 145px;
    left: 50%;
    margin: -100px 0 0 -150px;
    width: 300px;
    height: 200px;
    color: #bbb;
    text-indent: 0;
}

@media (max-width: 768px) {
    .plupload_filelist:empty {
        height: 200px;
    }

    .plupload_filelist:empty:before, .plupload_filelist:empty:after {
        width: 100%;
        height: 200px;
        left: 0;
        margin: 0;
        top: 0;
    }

    .plupload_filelist:empty:before {
        font-size: 64px;
        padding-top: 40px;
    }

    .plupload_filelist:empty:after {
        font-size: 17px;
        border-width: 3px 0;
        padding-top: 120px;
    }
}

.plupload_filelist:empty:after {
    content: 'Add files to upload';
}

.plupload_filelist_header {
    padding: 15px 20px;
}

.plupload_filelist_header .plupload_file_name, .plupload_filelist_header .plupload_file_size, .plupload_filelist_header .plupload_file_status, .plupload_filelist_header .plupload_file_action {
    font-weight: 500;
}

.plupload_filelist_footer {
    padding: 15px 20px;
}

.plupload_filelist_footer .plupload_file_size, .plupload_filelist_footer .plupload_file_status, .plupload_filelist_footer .plupload_upload_status {
    padding: 7px 0;
    font-weight: 500;
}

@media (max-width: 768px) {
    .plupload_filelist_footer .plupload_file_action, .plupload_filelist_footer .plupload_file_status, .plupload_filelist_footer .plupload_file_size, .plupload_filelist_footer .plupload_progress {
        display: none;
    }
}

.plupload_file_action {
    position: relative;
    float: right;
    margin-left: 30px;
    margin-top: 2px;
    color: #999999;
    width: 16px;
    height: 16px;
}

.plupload_file_action * {
    display: none;
}

.plupload_file_action:after {
    content: '\ec67';
    position: absolute;
    left: 0;
    top: 0;
}

.plupload_filelist_footer .plupload_file_action {
    margin-top: 9px;
}

.plupload_filelist .plupload_file_action:after {
    content: none;
}

.plupload_delete .plupload_file_action > a {
    color: #333333;
    line-height: 1;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.plupload_delete .plupload_file_action > a:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.plupload_delete a:after {
    content: '\ed6b';
}

.plupload_progress, .plupload_upload_status {
    display: none;
}

.plupload_progress_container {
    margin-top: 14px;
    background-color: #eeeeee;
}

.plupload_progress_bar {
    width: 0px;
    height: 4px;
    background: #4DB6AC;
    border-radius: 5px;
}

@media (min-width: 769px) {
    .plupload_file_name {
        float: left;
        overflow: hidden;
    }

    .plupload_filelist .plupload_file_name {
        width: 205px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .plupload_file_size, .plupload_file_status, .plupload_progress {
        float: right;
        width: 80px;
    }

    .plupload_file_size, .plupload_file_status, .plupload_file_action {
        text-align: right;
    }
}

/*! CSS Used fontfaces */
.plupload_filelist_header, .plupload_filelist_footer {
    background: #ffffffa1;
}
