


body, html {
//  height: 100%;
 //background-image: url(../fonts/fa-brands-400.eot)

}


.cover{
   height: 200px;
    display: block;
}

.login-box{
margin-top: 150px;
padding-right: 50%;

}

.carousel-item{
   height:  550px;
}

.footer{
    background-color: #008CBA;
    color: white;
    padding: 10px;width: 100%;
     position: fixed;
  bottom: 0;
}